body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-image: url('../../src/images/background2.png');
  background-size: cover;
}
/* Header */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed1b30;
  color: white;
  padding: 10px 20px;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  background-color: #ed1b30;
}

.mobile-menu.ativo {
  max-height: 500px;
  opacity: 1;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu ul li {
  border-bottom: 1px solid #ed1b30;
}

.mobile-menu ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.mobile-menu ul li a:hover {
  background-color: #ed1b30;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}



.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.nomeCredenciado,
.senhaCredenciado,
.emailCredenciado,
.cpfCredenciado,
.cepCredenciado,
.endCredenciado,
.numeroCredenciado,
.complementoCredenciado,
.estadoCredenciado,
.cidadeCredenciado,
.telefoneCredenciado {
  margin: 12px;
  width: 230px;
  height: 40px;
  outline: none;
  display: flex;


  border: none;
  border-radius: 15px;
  background-color: rgba(243, 238, 231, 0.726);
  padding-left: 10px;
  box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.39);
}

.btnCadastro {
  width: 210px;
  height: 35px;
  cursor: pointer;
  background-color: #ed1b30;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin: 7px;
  box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.39);
}

a{
  text-decoration: none;

  & .possuiContatxt{
    color: black;
  }
}